/* cairo-600 - latin_arabic */
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/cairo-v10-latin_arabic-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/cairo-v10-latin_arabic-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/cairo-v10-latin_arabic-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/cairo-v10-latin_arabic-600.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/cairo-v10-latin_arabic-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/cairo-v10-latin_arabic-600.svg#Cairo") format("svg"); /* Legacy iOS */

  font-display: swap;
}
/* cairo-700 - latin_arabic */
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cairo-v10-latin_arabic-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/cairo-v10-latin_arabic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/cairo-v10-latin_arabic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/cairo-v10-latin_arabic-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/cairo-v10-latin_arabic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/cairo-v10-latin_arabic-700.svg#Cairo") format("svg"); /* Legacy iOS */
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all ease 0.5s; */
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #f5f7fe;
  --light-blue: #418bca;
  --dark-primary: #33485d;
  --bg-color: #f5f7fe;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: var(--bg-color);
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  /* position: sticky; */
  /* top: 0; */
  /* z-index: 1071; */
}

.navbar-brand-text {
  font-size: 1.5em;
  vertical-align: bottom;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: 600;
}
.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}
.nav-item:hover,
.navbar-light .navbar-nav .nav-link:hover {
  font-weight: 700;
  color: black;
}

.jumbotron {
  margin: 0px;
  border-radius: 0px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  color: #fff;
  background: url("../img/madinah.webp");
  background-size: cover;
  background-position: center center;
  background-attachment: local;
}

.hero-box {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.45);
}
.hero-box > p {
  padding-top: 20px;
}

.hero-button {
  background-color: var(--light-blue);
}

.clean-block .block-heading {
  padding-top: 76px;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .clean-block .block-heading {
    padding-top: 100px;
  }
}

.block-heading {
  text-align: center;
  margin-bottom: 40px;
}
.clean-block.clean-form form {
  border-top: 2px solid #5ea4f3;
  background-color: #fff;
  max-width: 500px;
  margin: auto;
  padding: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.075);
}

.features {
  padding: 10px;
}

.features-ul {
  list-style-type: none;
}
.features-ul > .features-li {
  /* background-color: red; */
  margin-top: 20px;
  padding: 10px;
}
.features-ul > .features-li.active {
  background-color: var(--light-blue);
  color: #ffffff;
}
.features-ul > .features-li:hover {
  cursor: pointer;
  background-color: var(--light-blue);
  color: #ffffff;
}

.features-ul-icon {
  margin-left: 10px;
  margin-right: 10px;
}
.features-ul-icon > i {
  font-size: 30px;
}

footer {
  margin-top: 30px;
  background-color: var(--dark-primary);
  color: #fff;
  padding: 20px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.required-star {
  color: red;
}

.feature-img {
  aspect-ratio: attr(width) / attr(height);
}

.download-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  text-align: center;

  padding-bottom: 100px;
}

.platform-box {
  background-color: var(--bg-color);
  border-radius: 15px;
  padding: 20px;
  padding-bottom: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  width: 300px;
  margin: 30px 30px;
  justify-content: space-between;
}

.platform-name {
  /* margin: 0px; */
  margin-top: 20px;
  font-size: 1.3em;
  font-weight: 600;
}

.platform-name > span {
  font-size: 0.8em;
}
.platform-box > button,
.platform-box > a {
  margin-top: 35px;
  border-radius: 15;
  width: 223px;
  /* background-color: #04AA6D; */
}

.number-of-downloads {
  margin-top: 20px;
  font-size: 0.8em;
  display: none;
}

.number-of-downloads > span {
  margin-left: 5px;
  font-size: 1.2em;
}
#version {
  font-weight: 700;
}