
@font-face {
    font-family: 'Tajawal-Medium';
    src: url('../fonts/Tajawal/Tajawal-Medium.ttf');
}

@font-face {
    font-family: 'Tajawal-Bold';
    src: url('../fonts/Tajawal/Tajawal-Bold.ttf');
}

@font-face {
    font-family: 'Tajawal-Regular';
    src: url('../fonts/Tajawal/Tajawal-Regular.ttf');
}

@font-face {
    font-family: 'Kitab-Regular';
    src: url('../fonts/Kitab-Regular.ttf');
}

/* === fonts === */
.font-text-bold {
    -fx-font-family: "Tajawal-Bold";
}

.font-text-medium {
    -fx-font-family: "Tajawal-Medium";
}

.font-button-medium {
    -fx-font-family: "Tajawal-Medium";
}

/* === fonts-sizes === */
.normal-font-weight {
    -fx-font-weight: normal;
}

.bold-font-weight {
    -fx-font-weight: bold;
}

._15 {
    -fx-font-size: 15;
}

._16 {
    -fx-font-size: 16;
}

._17 {
    -fx-font-size: 17;
}

._18 {
    -fx-font-size: 18;
}

._19 {
    -fx-font-size: 19;
}

._20 {
    -fx-font-size: 20;
}

._21 {
    -fx-font-size: 21;
}

._22 {
    -fx-font-size: 22;
}

._23 {
    -fx-font-size: 23;
}

._24 {
    -fx-font-size: 24;
}

._25 {
    -fx-font-size: 25;
}
