* {
    -fx-bold-font-family: Tajawal-Bold;
    -fx-medium-font-family: "Tajawal-Medium";
    /* ====== Colors ====== */
    -fx-primary: #1f6e65;
    -fx-primary-dark: derive(-fx-primary, -40%);
    -fx-primary-light: derive(-fx-primary, 40%);

    -fx-secondary: #1c2b3a;
    -fx-secondary-hover: derive(-fx-secondary, -40%);
    -fx-secondary-light: derive(-fx-secondary, 40%);

    -fx-third: #b37242;
    -fx-third-light: #cea16c;

    -fx-red: #c91a29;
    -fx-error: #ff8c00;
    -fx-gray: #bdbdbd;
    -fx-green: derive(#2a9d8f, 60%);
    -fx-blue: #1976d2;
    /* ===== Background ===== */
    -fx-bg: linear-gradient(to top, -fx-secondary-hover, -fx-secondary);
    -fx-secondary-bg: transparent;
    /* ====== Text ====== */
    -fx-primary-text: #e3e8fa;
    -fx-secondary-text: derive(-fx-secondary, 20%);
    -fx-light-text: -fx-primary-text;
    -fx-dark-text: -fx-secondary-hover;
    -fx-reverse-secondary: -fx-primary-text;
    /* ====== Button ====== */
    -fx-primary-button: linear-gradient(-fx-primary-light, -fx-primary);
    -fx-primary-button-text: -fx-light-text;
    -fx-primary-button-hover: -fx-primary-dark;

    /* ====== Table ====== */
    -fx-even-table: derive(#26304a, 10%);
    -fx-odd-table: #26304a;
    -fx-hover-table: #455a64;
    /* ====== Scroll ====== */
    -fx-thumb-bg: -fx-secondary-light;
    -fx-thumb-bg-hover: derive(-fx-secondary-light, 10%);
}

.separator:horizontal .line,
.separator:vertical .line {
    -fx-border-color: -fx-gray;
}

.secondary-button {
    -fx-background-color: linear-gradient(-fx-secondary-light, -fx-secondary);
    -fx-text-fill: -fx-light-text;
}

.scroll-bar:vertical > .track-background,
.scroll-bar:horizontal > .track-background {
    -fx-background-color: -fx-secondary-hover;
}
