* {
    -fx-primary: #1f6e65;
    -fx-primary-dark: derive(-fx-primary, -40%);
    -fx-primary-light: derive(-fx-primary, 40%);

    -fx-secondary: #1c2b3a;
    -fx-secondary-hover: derive(-fx-secondary, -40%);
    -fx-secondary-light: derive(-fx-secondary, 40%);

    -fx-third: #b37242;
    -fx-third-light: #cea16c;

    -fx-red: #c91a29;
    -fx-gray: #bdbdbd;
    -fx-green: derive(#2a9d8f, 60%);
    -fx-blue: #1976d2;
    /* ===== Background ===== */
    -fx-bg: linear-gradient(to top, -fx-secondary-hover, -fx-secondary);
    -fx-secondary-bg: transparent;
    /* ====== Text ====== */
    -fx-primary-text: #e3e8fa;
    -fx-secondary-text: derive(-fx-secondary, 20%);
    -fx-light-text: -fx-primary-text;
    -fx-dark-text: -fx-secondary-hover;
    -fx-reverse-secondary: -fx-primary-text;
    /* ====== Button ====== */
    -fx-primary-button: linear-gradient(-fx-primary-light, -fx-primary);
    -fx-primary-button-text: -fx-light-text;
    -fx-primary-button-hover: -fx-primary-dark;

    /* ====== Table ====== */
    -fx-even-table: derive(#26304a, 10%);
    -fx-odd-table: #26304a;
    -fx-hover-table: #455a64;
    /* ====== Scroll ====== */
    -fx-thumb-bg: -fx-secondary-light;
    -fx-thumb-bg-hover: derive(-fx-secondary-light, 10%);
}

/* ======= Button ======= */
.secondary-button {
    -fx-background-color: linear-gradient(-fx-secondary-light, -fx-secondary);
    -fx-text-fill: -fx-light-text;
}

.secondary-button-outline {
    -fx-text-fill: -fx-light-text;
    -fx-border-color: derive(-fx-light-text, -30%);
}

.secondary-button-outline:hover {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-light-text;
}

.secondary-button-outline .glyph-icon {
    -fx-fill: -fx-light-text;
}

.secondary-button-outline:hover .glyph-icon {
    -fx-fill: -fx-light-text;
}

/* ======= Table ======= */
.table {
    -fx-background-color: derive(#26304a, 10%);
    -fx-border-color: derive(-fx-secondary, -60%);
    -fx-border-width: 1;
}

.table .column-header-background {
    -fx-border-width: 0;
    -fx-background-color: -fx-secondary;
}

.table .column-header .label {
    -fx-text-fill: -fx-primary-text;
}

.table .column-header,
.table .column-header-background .filler {
    -fx-border-width: 0;
}

/* ======= Separator =======  */
.separator:horizontal .line,
.separator:vertical .line {
    -fx-border-color: -fx-gray;
}

.separator:vertical .line {
    -fx-border-width: 1px;
}

/* ======= Scroll =======  */
.scroll-bar:vertical > .track-background,
.scroll-bar:horizontal > .track-background {
    -fx-background-color: -fx-secondary-hover;
}

/* ======= Progress Bar ======= */
.zekr-progress > .track {
    -fx-background-color: derive(-fx-light-text, -30%);
}

.scroll-pane .corner {
    -fx-background-color: -fx-secondary-hover;
}

.green-box{
    -fx-background-color: #122428;
}
.green-box > .label {
    -fx-text-fill: rgb(134, 239, 172);
}
.green-box > .label > .glyph-icon {
    -fx-fill: rgb(134, 239, 172);
}